body
{
	margin: 0;
	max-width: 1050px;
}
.menu-with-img
{
	padding: 0px;
	background-color: #cccccc;
}
.menu
{
	padding: 10px;
}
.contents
{
	padding: 10px;
}

@media screen and (min-width: 600px)
{
  .menu-with-img {
	width: 184px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
  }
  .contents {
	margin-left: 190px;
  }
}
